<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный бюджет</title>
    <!-- Подключение CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Личный бюджет</h1>
    <h2>Баланс: {{ context.balance }}</h2>

    <h3>Транзакции</h3>
    <table>
        <tr>
            <th>Название</th>
            <th>Сумма</th>
            <th>Тип транзакции</th>
            <th>Дата</th>
        </tr>
        {% for transaction in context.all_transactions %}
        <tr>
            <td>{{ transaction }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.get_transaction_type_display }}</td>
            <td>{{ transaction.date }}</td>
            <td><button><a href="{% url 'edit_transaction' transaction.id %}">Редактировать</a></button></td>
            <td><button><a href="{% url 'delete_transaction' transaction.id %}">Удалить</a></button></td>
        </tr>
        {% endfor %}
    </table>
    <button><a href="{% url 'add_transaction' %}">Добавить транзакцию</a></button>
</body>
</html>