<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный бюджет</title>
    <!-- Подключение CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Личный бюджет</h1>
    <h2 class="text-center">Баланс: {{ context.balance }}</h2>

    <table class="table table-striped mt-4">
    <h3>Транзакции</h3>
        <tr>
            <th>Название</th>
            <th>Сумма</th>
            <th>Тип транзакции</th>
            <th>Дата</th>
        </tr>
        {% for transaction in context.all_transactions %}
        <tr>
            <td>{{ transaction }}</td>
            <td>{{ transaction.amount }} руб.</td>
            <td>{{ transaction.get_transaction_type_display }}</td>
            <td>{{ transaction.date }}</td>
            <td><a href="{% url 'edit_transaction' transaction.id %}" class="btn btn-warning btn-sm">Редактировать</a></td>
            <td><a href="{% url 'delete_transaction' transaction.id %}" class="btn btn-danger btn-sm">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'add_transaction' %}" class="btn btn-primary">Добавить транзакцию</a>
    <a href="{% url 'exit' %}" class="btn btn-secondary">Выйти из системы</a>
</div>
</body>
</html>